table {
  width: 100%;
}

.mat-column-title {
  width: 50%;
}

.mat-column-displayed {
  width: 50%;
}

.postTitle {
  color: rgb(35, 106, 187);
  font-size: 17px;
  cursor: pointer;
  margin-right: 60px;
  font-weight: 600
}
