<mat-accordion>
    <mat-expansion-panel style="width:100%;" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Programowanie
        </mat-panel-title>
      </mat-expansion-panel-header>

<table mat-table [dataSource]="programming">

  
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Logo </th>
      <td mat-cell *matCellDef="let category">
     
      <div class="image">
          <img src="assets/img/java.png" />
          </div>
          
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Kategoria</th>
      <td class="link" mat-cell *matCellDef="let category" (click)="getTopics(category)">
          <table><tr><td height="20" class="link">{{category.title}}</td></tr>
            <tr><td height="20" class="description">{{category.description}}</td></tr>
            </table>
      </td>
    </ng-container>

    <ng-container matColumnDef="watki">
      <th mat-header-cell *matHeaderCellDef>Liczba wątków</th>
      <td mat-cell *matCellDef="let category"> 
        <div class="center">
          {{category.size}}
          </div>
      </td>
 
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Ostatni post</th>
      <td mat-cell *matCellDef="let category">
        <table><tr><td height="20" class="link">{{newestPost[category.id]?.topic?.title}}</td></tr>
        <tr><td height="20">Przez {{newestPost[category.id]?.postAuthor?.username}}</td></tr>
        <tr><td height="20" style="font-size:10px">  {{newestPost[category.id]?.createdDate | date: 'medium'}}</td></tr>
        </table>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let category; columns: displayedColumns;"></tr>

  </table>
</mat-expansion-panel>
   
</mat-accordion>

<mat-accordion>
    <mat-expansion-panel style="width:100%;" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Języki skryptowe
        </mat-panel-title>
      </mat-expansion-panel-header>
  <table mat-table [dataSource]="scripts">

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Logo </th>
        <td mat-cell *matCellDef="let category">
        <mat-icon mat-list-icon>assignment</mat-icon>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Kategoria</th>
        <td class="link" mat-cell *matCellDef="let category" (click)="getTopics(category)">
            <table><tr><td height="20" class="link">{{category.title}}</td></tr>
              <tr><td height="20" class="description">{{category.description}}</td></tr>
              </table>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="watki">
        <th mat-header-cell *matHeaderCellDef> Liczba wątków</th>
        <td mat-cell *matCellDef="let category"> 
          {{category.size}}
        </td>
   
      </ng-container>
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Ostatni post</th>
        <td mat-cell *matCellDef="let category">
          <table><tr><td height="20" class="link">{{newestPost[category.id]?.topic?.title}}</td></tr>
          <tr><td height="20">Przez {{newestPost[category.id]?.postAuthor?.username}}</td></tr>
          <tr><td height="20" style="font-size:10px">  {{newestPost[category.id]?.createdDate | date: 'medium'}}</td></tr>
          </table>
          </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let category; columns: displayedColumns;"></tr>
  
    </table>
  </mat-expansion-panel>
   
</mat-accordion>
     


<mat-accordion>
    <mat-expansion-panel style="width:100%;" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Bazy Danych
        </mat-panel-title>
      </mat-expansion-panel-header>
  <table mat-table [dataSource]="databases">

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Logo </th>
        <td mat-cell *matCellDef="let category">
        <mat-icon mat-list-icon>assignment</mat-icon>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Kategoria</th>
        <td class="link" mat-cell *matCellDef="let category" (click)="getTopics(category)">
            <table><tr><td height="20" class="link">{{category.title}}</td></tr>
              <tr><td height="20" class="description">{{category.description}}</td></tr>
              </table>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="watki">
        <th mat-header-cell *matHeaderCellDef> Liczba wątków</th>
        <td mat-cell *matCellDef="let category"> 
          {{category.size}}
        </td>
   
      </ng-container>
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Ostatni post</th>
        <td mat-cell *matCellDef="let category">
          <table><tr><td height="20" class="link">{{newestPost[category.id]?.topic?.title}}</td></tr>
          <tr><td height="20">Przez {{newestPost[category.id]?.postAuthor?.username}}</td></tr>
          <tr><td height="20" style="font-size:10px">  {{newestPost[category.id]?.createdDate | date: 'medium'}}</td></tr>
          </table>
          </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let category; columns: displayedColumns;"></tr>
  
    </table>
  </mat-expansion-panel>
   
</mat-accordion>

<mat-accordion>
    <mat-expansion-panel style="width:100%;" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Pozostałe
        </mat-panel-title>
      </mat-expansion-panel-header>
    <table mat-table [dataSource]="forum">

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> Logo </th>
          <td mat-cell *matCellDef="let category">
          <mat-icon mat-list-icon>assignment</mat-icon>
          </td>
        </ng-container>
    
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Kategoria</th>
          <td class="link" mat-cell *matCellDef="let category" (click)="getTopics(category)">
            <table><tr><td height="20" class="link">{{category.title}}</td></tr>
              <tr><td height="20" class="description">{{category.description}}</td></tr>
              </table>
          </td>
        </ng-container>
    
        <ng-container matColumnDef="watki">
          <th mat-header-cell *matHeaderCellDef> Liczba wątków</th>
          <td mat-cell *matCellDef="let category"> 
            {{category.size}}
          </td>
     
        </ng-container>
    
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Ostatni post</th>
          <td mat-cell *matCellDef="let category">
            <table><tr><td height="20" class="link">{{newestPost[category.id]?.topic?.title}}</td></tr>
            <tr><td height="20">Przez {{newestPost[category.id]?.postAuthor?.username}}</td></tr>
            <tr><td height="20" style="font-size:10px">  {{newestPost[category.id]?.createdDate | date: 'medium'}}</td></tr>
            </table>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let category; columns: displayedColumns;"></tr>
    
      </table>

    </mat-expansion-panel>
   
  </mat-accordion>
  