<app-navbar></app-navbar>

<div class="content">
  <div class="col-md-12 header">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{topicName}}</mat-card-title>
      </mat-card-header>
    </mat-card>

  </div>
  <div class="eachElement" *ngFor="let post of posts">
    <div class="col-md-3 avatar">
      <mat-card>
        <mat-card-title>{{post.postAuthor.username}}</mat-card-title>
        <mat-card-subtitle>{{post.postAuthor.rank}}</mat-card-subtitle>
        <mat-icon mat-list-icon>face</mat-icon>
        <p>Reputacja: {{post.postAuthor.points}}</p>
      </mat-card>
    </div>
    <div class="col-md-9 postContent">

      <mat-card>
        <mat-card-actions>
          <i class="material-icons" (click)="votePostDown(post)">
            keyboard_arrow_down
          </i>

          {{post.likes}}
          <i class="material-icons" (click)="votePostUp(post)">
            keyboard_arrow_up
          </i>
        </mat-card-actions>
        {{post.postContent}}
      </mat-card>


      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              10 komentarzy
            </mat-panel-title>
            <mat-panel-description>
              {{panelOpenState ? 'Zamknij' : 'Zobacz'}} komentarze
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Zbychu: treść komentarza qewrg wergsdf </p>
          <p>Bożena: treść komentarza sdfg s</p>
          <p>Admin: treść komentarza </p>

          <p></p>
        </mat-expansion-panel>
      </mat-accordion>


    </div>
  </div>


  <div class="col-md-3 currentUserAvatar"></div>

  <div class="col-md-9 newPostForm">
    <mat-card *ngIf="isLogged()">
      <h5>Dodaj post</h5>
      <form [formGroup]="newPostForm" (ngSubmit)="savePost()">
        <angular-editor formControlName="content" [config]="editorConfig" [(ngModel)]="content"></angular-editor>
        <button mat-raised-button type="submit">Dodaj post</button>
      </form>
    </mat-card>

  </div>


</div>
