<mat-toolbar class="navbar">
    <mat-toolbar-row>
      <span><a  routerLink="/home"><img class="logo" src="assets/img/logo.PNG"></a></span>
      <span class="example-spacer"></span>
      <button *ngIf="!isLogged()" mat-stroked-button (click)="loginDialog()">Logowanie</button>
      <button *ngIf="!isLogged()" mat-stroked-button (click)="registerDialog()">Rejestracja</button>
      <button *ngIf="isLogged()" mat-stroked-button (click)="logout()">Wyloguj się</button>
      <button *ngIf="isAdmin()" mat-stroked-button routerLink="/admin-panel">Panel administracyjny</button>


    </mat-toolbar-row>
</mat-toolbar>









<!-- <nav class="navbar">
  <div>
      <button routerLink="/home"><mat-icon>home</mat-icon></button>
      <span class="example-spacer"></span>
      <button *ngIf="!isLogged()" mat-stroked-button (click)="loginDialog()">Logowanie</button>
      <button *ngIf="!isLogged()" mat-stroked-button (click)="registerDialog()">Rejestracja</button>
      <button *ngIf="isLogged()" mat-stroked-button (click)="logout()">Wyloguj się</button>
      <button *ngIf="isAdmin()" mat-stroked-button routerLink="/admin-panel">Panel administracyjny</button>

  </div>
</nav>

 -->
