.content {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.news {
  padding: 10px;
  min-height: 300px;

  mat-tab-group {
    height: 300px;
  }
}

.ranking {
  padding: 10px;
  min-height: 300px;

  mat-card {
    min-height: 300px;
    font-size: 20px;
    color: #9A1750;

  }

}

.topics {
  padding: 10px;
  min-height: 500px;
  mat-card {
    min-height: 500px;
    font-size: 20px;
    color: #9A1750;

  }
}
