<app-navbar></app-navbar>

<div class="content">
  <div class="row">

    <div class="col-lg-8 news">
      <mat-card>
        <mat-tab-group>
          <mat-tab label="Najpopularniejsze">
            <app-topic-display-rank-list></app-topic-display-rank-list>
          </mat-tab>
          <mat-tab label="Najwyżej ocenianie"></mat-tab>
          <mat-tab label="Nowości">
              <app-topic-newest-rank-list></app-topic-newest-rank-list>
          </mat-tab>
        </mat-tab-group>

      </mat-card>
    </div>

    <div class="col-md-4 ranking">
      <mat-card>
        Ranking użytkowników
        <app-user-rank-list></app-user-rank-list>

      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 topics">
     <app-categories></app-categories>
    </div>
  </div>
</div>
