<app-navbar></app-navbar>
  <div class="content">
    <mat-card>
   
          <div class ="row">
          <div class=" col-md-3 avatarSection">
            <mat-icon mat-list-icon>face</mat-icon>

            <div *ngIf="isAdmin()" style="padding-bottom: 5px;">
             <button *ngIf="userProfileDto?.user?.banned; else elseBlock" mat-raised-button color="primary" (click)="unbanAccount(userProfileDto?.user)">Odbanuj</button>
             <ng-template #elseBlock><button mat-raised-button color="primary" (click)="banAccount(userProfileDto?.user)">Zbanuj</button>
             </ng-template>
            </div>
            <button *ngIf="isLogged()" mat-raised-button color="primary">Wyślij wiadomość</button>
          </div>
          
            <div class=" col-md-5">
              <mat-card-title>{{userProfileDto?.user?.username}}</mat-card-title>
              <mat-divider class = "divider"></mat-divider>
              <div class ="dataSection">
                <mat-card-subtitle>Ranga użytkownika: {{userProfileDto?.user?.rank}}</mat-card-subtitle>
                <mat-card-subtitle>Reputacja: {{userProfileDto?.user?.points}}</mat-card-subtitle>
                <mat-card-subtitle>Rejestracja: {{userProfileDto?.user?.points}}</mat-card-subtitle>
                <mat-card-subtitle>Ostatnie logowanie: {{userProfileDto?.user?.points}}</mat-card-subtitle>
              </div>
            </div>

            <div class="col-md-4">
            ostatnie reputacje: 
            </div>
          </div>

    <div class="row" style="padding-bottom: 50px">
        <mat-divider class = "divider"></mat-divider>
        <div class="col-md-6">
<p class="titles"> Założone tematy:</p>
<div class="table-container">
    <table mat-table [dataSource]="userProfileDto?.topics">

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Tytuł tematu </th>
        <td mat-cell *matCellDef="let element"> {{ (element.title.length>40)? (element.title| slice:0:40)+'...':(element.title) }} </td>
      </ng-container>

      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef> Data utworzenia </th>
        <td mat-cell *matCellDef="let element" class="tablePadding"> {{element.createdDate | date: 'medium'}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="['title', 'createdDate']"></tr>
      <tr mat-row *matRowDef="let element; columns: ['title', 'createdDate'];"></tr>
      
    </table>
    </div>
        </div>

        <div class="col-md-6">
            <p class="titles"> Dodane posty:</p>

            <div class="table-container">
                <table mat-table [dataSource]="userProfileDto?.posts">
        

                  <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef> Tytuł tematu </th>
                    <td mat-cell *matCellDef="let element"> {{ (element.topic.title.length>40)? (element.topic.title| slice:0:40)+'...':(element.topic.title) }} </td>
                  </ng-container>
            
                  <ng-container matColumnDef="content">
                      <th mat-header-cell *matHeaderCellDef> Treść </th>
                      <td mat-cell *matCellDef="let element" class="tablePadding"> {{ (element.postContent.length>50)? (element.postContent| slice:0:50)+'...':(element.postContent) }} </td>
                    </ng-container>

                  <ng-container matColumnDef="createdDate">
                    <th mat-header-cell *matHeaderCellDef> Data utworzenia </th>
                    <td mat-cell *matCellDef="let element"> {{element.createdDate | date: 'medium'}} </td>
                  </ng-container>
       
            
                  <tr mat-header-row *matHeaderRowDef="['title', 'content','createdDate']"></tr>
                  <tr mat-row *matRowDef="let element; columns: ['title', 'content','createdDate'];"></tr>
                  
                </table>
            </div>
        </div>
  

     </div>
       <!-- założone tematy:
        <div *ngFor="let topic of userProfileDto?.topics | slice:0:10; let i=index">
          <p> {{topic?.title}}</p>
        </div>

        dodane posty:
      <div *ngFor="let post of userProfileDto?.posts">
          <p> {{post?.postContent | slice:0:20 }}...</p>
          </div> -->
        </mat-card>
      </div>

