<form [formGroup]="registerForm" (ngSubmit)="register()">
  <mat-form-field>

    <input matInput type="text" id="login" formControlName="login" placeholder="Login">

    <mat-error *ngIf="registerForm.controls['login'].hasError('required')">
      Nazwa użytkownika jest <strong>wymagana</strong>
    </mat-error>
    <mat-error *ngIf="registerForm.controls['login'].hasError('minlength')">
      Nazwa użytkownika jest  <strong>za krótka</strong>
    </mat-error>

  </mat-form-field>

  <mat-form-field>
      <input matInput type="password" name="password" formControlName="password" placeholder="Hasło" [type]="hidingPassword ? 'password' : 'text'">
     
      <mat-icon matSuffix (click)="hidingPassword = !hidingPassword">{{hidingPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
        Hasło jest <strong>wymagane</strong>
      </mat-error>
      <mat-error *ngIf="registerForm.controls['password'].hasError('minlength')">
        Hasło jest <strong>za krótkie</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" name="passwordConfirm" formControlName="passwordConfirm" placeholder="Potwierdź hasło"
        compare="password" [type]="hidingPasswordConfirm ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hidingPasswordConfirm= !hidingPasswordConfirm">{{hidingPasswordConfirm ?
        'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="registerForm.controls['passwordConfirm'].hasError">
        Hasła muszą być <strong>takie same</strong>
      </mat-error>
    </mat-form-field>
  
  <button mat-raised-button type="submit">Register</button>
</form>