<div class="col-md-8 topics">

  <mat-card>
    <button mat-flat-button color="accent" (click)="openNewTopicDialog()">Nowy wątek</button>

    <mat-list>
        <button (click)="redirectBack()">
            <mat-icon>keyboard_backspace</mat-icon>
          </button>
      <h3 mat-subheader>Tematy</h3>
      <h4 mat-subheader>Przypięte</h4>
      <div  *ngFor="let topic of topics">
      <mat-list-item *ngIf="topic.pinned">
        <mat-icon mat-list-icon>description</mat-icon>
        <h4 mat-line  (click)="getPosts(topic)">{{topic.title}} <div style="text-align: right;">
          {{newestPost[topic.id]?.postAuthor?.username}}
          {{newestPost[topic.id]?.createdDate | date: 'medium'}}
         </div></h4>

      </mat-list-item>
      </div>
      <mat-divider></mat-divider>
      <div  *ngFor="let topic of topics">
      <mat-list-item *ngIf="!topic.pinned">
          <mat-icon mat-list-icon>description</mat-icon>
 <h4 mat-line  (click)="getPosts(topic)">{{topic.title}} <div style="text-align: right;">
  {{newestPost[topic.id]?.postAuthor?.username}}
  {{newestPost[topic.id]?.createdDate | date: 'medium'}}
 </div></h4>
<button *ngIf="isAdmin()" (click)="pinTopic(topic.id)">pin</button>
    </mat-list-item>
    </div>
    </mat-list>
  </mat-card>
</div>
